/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variáveis */ 
:root {
    /* Cores principais  */
    --cor-principal: #147A73; 
    --cor-secundaria-clara: #f6fcfc;
    --cor-fundo: #FFFFFF;
}

/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
.header {
    background-color: #f4f9f9;
    padding: 5px 20px;
    border-bottom: 1px solid #076f72;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(20, 122, 115, 0.315);
    position: relative; 
    z-index: 10;
}

/* Container Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Imagem da logo */
.logo-img {
    height: 70px;
}

/* Texto da logo */
.logo-text {
    font-size: 1.25rem;
    font-weight: 700;
    color: #016568;
}

/* Botões de navegação */
.nav {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #076f72;
}

/* Área do conteúdo principal */
.main-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo); 
}

/* Conteúdo central */
.conteudo-central {
    width: 100%;
    max-width: 1200px;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 100px;
}

/* Título Principal */
.titulo-principal {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    /* Efeito para simular cor gradiente no texto */
    background: linear-gradient(to right, #016568, #009398);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Subtítulo */
.subtitulo {
    font-size: 1.1rem;
    color: #999999;
    line-height: 1.2;
    margin-bottom: 60px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Botão */
.botao-principal {
    display: inline-flex;
    align-items: center;
    padding: 18px 35px;
    background-color: var(--cor-principal); 
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(20, 122, 115, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
    gap: 10px;
}

.botao-principal:hover {
    background-color: #1a958b;
    box-shadow: 0 6px 12px rgba(20, 122, 115, 0.6);
}

.botao-principal i {
    margin-left: 15px;
    font-size: 1.2em;
}

/* Imagens */
.imagem_ponto{
    width: 25px;
    height: 25px;
}

.imagem_ambulancia {
    width: 200px;
    height: 200px;
}