/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*====================================== */
/* Variáveis */ 
:root {
    /* Cores principais */
    --cor-principal: #147A73;
    --cor-secundaria-clara: #f9f9f9;
    --borda-geral: #cccccc;
    --cor-texto: #333;
}

/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-secundaria-clara);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*====================================== */

/*====================================== */
/* Cabeçalho */
.header {
    background-color: #f4f9f9;
    padding: 10px 20px;
    border-bottom: 1px solid #076f72;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(20, 122, 115, 0.315);
    position: relative; 
    z-index: 10;
}

/* Container Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Imagem da logo */
.logo-img {
    height: 70px;
}

/* Texto da logo */
.logo-text {
    font-size: 1.25rem;
    font-weight: 700;
    color: #016568;
}

/* Botões de navegação */
.nav {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #076f72;
}
/*====================================== */

/*====================================== */
/* Conteúdo Principal */
.main-content {
    display: flex;
    flex: 1; 
    padding: 20px;
    gap: 20px;
}

/* Barra lateral (esquerda) */
.barra-lateral {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Segmento superior esquerdo - Entrada de dados */
.bloco-info {
    background-color: white;
    border: 1px solid var(--borda-geral);
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título Nova Solicitação */
.bloco-info h3 {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--cor-texto);
    padding-bottom: 10px; 
    border-bottom: 1px solid #eee; 
}

/* Interação do usuário */
.campo-bairro {
    display: flex;
    align-items: center;
    gap: 8px;
}

.campo-bairro select:focus {
    outline: none;
    border-color: var(--cor-principal);
    box-shadow: 0 0 0 2px rgba(20, 122, 115, 0.3);
}

.campo-bairro label {
    font-weight: normal;
    color: var(--cor-texto);
    white-space: nowrap;
}

/* Lista de bairros para seleção */
.campo-bairro select {
    flex: 1;
    padding: 8px 10px;
    border: 1px solid var(--borda-geral);
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    font-weight: bold;
    color: var(--cor-texto);
}
/*====================================== */