/* Cores principais */
:root {
    --cor-principal: #147A73; 
    --cor-secundaria-clara: #f0f7f7;
    --cor-fundo: #ffffff;
}

/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--cor-fundo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
.header {
    background-color: var(--cor-fundo);
    padding: 25px 30px;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Botões de navegação */
.nav {
    display: flex;
    gap: 40px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff;
}

/* Área do conteúdo principal */
.main-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria-clara); 
}

/* Conteúdo central */
.conteudo-central {
    width: 100%;
    max-width: 1200px;
    padding: 60px 0;
    text-align: center;
    margin-bottom: 100px;
}

/* Título Principal */
.titulo-principal {
    font-size: 3.8em;
    color: var(--cor-principal);
    margin-bottom: 30px;
    font-weight: bold;
}

/* Subtítulo */
.subtitulo {
    font-size: 1.4em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 60px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Botão */
.botao-principal {
    display: inline-flex;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--cor-principal); 
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(20, 122, 115, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
    gap: 20px;
}

.botao-principal:hover {
    background-color: #1a958b;
    box-shadow: 0 6px 12px rgba(20, 122, 115, 0.6);
}

.botao-principal i {
    margin-left: 15px;
    font-size: 1.2em;
}

/* Imagens */
.imagem_ponto{
    width: 50px;
    height: 50px;
}

.imagem_ambulancia {
    width: 150px;
    height: 150px;
}

